/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  background-color: #ccc;
}

.nav {
  background-color: #302f2d;
  border: 2px solid #360404;
  border-radius: 10px;
}
.nav__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.nav__li {
  cursor: pointer;
  padding: 1.5rem;
  text-align: center;
}
.nav__a {
  color: white;
  text-align: center;
  padding: 1.5rem;
  text-decoration: none;
  border-left: 1px solid #fff;
  font-size: 1.5rem;
}
.nav__li:hover {
  background-color: #555;
  color: #fff;
}

@media all and (max-width: 800px) {
  nav ul {
    flex-direction: column;
  }

  .nav,
.nav__li {
    text-align: center;
  }

  .nav__li:hover {
    background-color: #b8b0e4;
    color: #692f2f;
  }
}
.container {
  border: 3px solid #a02c2c;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*height: 800px;
  flex-wrap: wrap;
  align-content: space-around;*/
  /*flex-direction: column;
  height: 800px;
  align-items: baseline;*/
  /*flex-direction: column;
    height: 800px;
    justify-content: space-evenly;*/
  /*flex-flow: column-reverse wrap-reverse;
    height: 400px;*/
  /*flex-direction: row;
    flex-wrap: wrap;*/
}

.flex-item {
  color: white;
  font-size: 1.5rem;
  padding: 1.5rem;
  margin: 1rem;
  border: 5px solid green;
  text-align: center;
  flex: 1 0 500px;
}
.flex-item__ol li {
  list-style-type: none;
}
.flex-item__item1 {
  background-color: chocolate;
}
.flex-item__item2 {
  background-color: #0f0e0d;
}
.flex-item__item3 {
  background-color: darkblue;
}
.flex-item__item4 {
  background-color: #1ebdd2;
}
.flex-item__item5 {
  background-color: #3d4e50;
}
.flex-item__item6 {
  background-color: #35384d;
}
.flex-item__item7 {
  background-color: #1ebdd2;
}
.flex-item__item8 {
  background-color: #201508;
}
.flex-item__item9 {
  background-color: #615c5f;
}
.flex-item__item10 {
  background-color: #474766;
}
.flex-item__item11 {
  background-color: #5c5cd1;
}
.flex-item__item12 {
  background-color: #6c6c96;
}
.flex-item__item13 {
  background-color: #5c4044;
}
.flex-item__item14 {
  background-color: #6a9b66;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.flex-item__item15 {
  background-color: #5c755b;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}